<h1>
  Did you go to bed list
</h1>

<a href="/new_did_you_go_to_bed_form">
  Add a new did you go to bed
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Went to bed yn
    </th>

    <th>
      Time
    </th>

    <th>
      Date
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @did_you_go_to_beds.each do |did_you_go_to_bed| %>
  <tr>
    <td>
      <%= did_you_go_to_bed.id %>
    </td>

    <td>
      <%= did_you_go_to_bed.went_to_bed_yn %>
    </td>

    <td>
      <%= did_you_go_to_bed.created_at.strftime("%I:%M %p") %>
    </td>
    
    <td>
      <%= did_you_go_to_bed.created_at.strftime("%m/%d/%Y") %>
    </td>

    <td>
      <%= time_ago_in_words(did_you_go_to_bed.updated_at) %> ago
    </td>

    <td>
      <a href="/did_you_go_to_beds/<%= did_you_go_to_bed.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
